td{
  text-align: center;
}

.main-page{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  text-align: center;
  border: 3px solid gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-sizing: border-box;
  font-size: 20px;
}

.page-calender{
  width: 50%;
  border-right: 1px solid gray;
}

ul li{
  list-style-type: none;
}

.none{
  display: none;
}

.button-meeting{
  display: flex;
  margin: 5px auto;
  width: 35%;
  padding: 5px;
}

